body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.meme-container {
    text-align: center;
}

#cat-image {
    width: 200px;
}

#meme-text {
    font-size: 24px;
}

#sike-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
